html,
body {
  height: 100%;
}

body {
  @extend %roboto-400;
}

.container {
  max-width: 1098px;
  margin: 0 auto;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  // padding: 0 10px;
}

.container-flex {
  display: flex;
}


.title {
  @extend %roboto-700;
  font-size: 24px;
  line-height: 28px;
  color: $title;
}

.input-title {
  font-size: 14px;
  line-height: 36px;
  color: $title;
}