@media (max-width: 1080px) {
  .profile {
    &__form-box {
      display: block;
      .profile__form-label {
        margin-right: 0;
      }
      .profile__form-input {
        width: 100%;
      }
    }
  }
  .contact {
    &__form-select {
      width: 100%;
      margin-bottom: 22px;
    }
  }  
}

@media (max-width: 875px) {
  .profile__img {
    display: none;
  }
  .delete {
    &__wrapper {
      display: block;
    }
    &__content {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 575px) {
  .view {
    display: block;
    &__content {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 450px) {
  .profile__text {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .profile__title {
    margin-bottom: 17px;
  }
  .profile__btn {
    padding-left: 30px;
    padding-right: 30px;
    &::before {
      left: 10px;
    }
  }
}

@media (max-width: 352px) {
  .profile__btn {
    font-size: 12px;
    padding-right: 23px;
  }
}