$default: #8d8d8d;
$black: #000000;
$title: #323232;

%roboto-300 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

%inter-500 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}